<!DOCTYPE html>
<html lang="en">
<link href="../static/css/main.css" rel="stylesheet" type="text/css" />
<link href="../static/css/login.css" rel="stylesheet" type="text/css" />
<head>
    <meta charset="UTF-8">
    <base href="/" />
    <title>Home</title>
</head>
<body>
<div class="container">
    <div class="header">
        <h2>USDA Shopping List</h2>
    </div>

    <div id="login">
        <h3>Login</h3>
        <form action="/index" method="get">
            <label for="email_address">Email</label><br />
            <input type="text" name="email_address" id="email_address"><br />
            <br />
            <label for="password">Password</label><br />
            <input type="password" name="password" id="password"><br />
            <br />
            <button type="submit" name="signUpBtn">Login</button>
            <p>Not a member? <a href="signup.html">Register</a></p>
        </form>
    </div>
    <footer class="footer">
        <p style="font-size: 14px">&copy; USDA Shopping List 2017</p>
    </footer>
</div>
</body>
</html>